<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tzy.demo"
    >
    <!-- 网络 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/> <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- 外部存储-写入 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 外部存储-读 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <permission
        android:name="com.tzy.demo.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"
        /> <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.tzy.demo.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- Optional for location -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".application.MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        >

        <service
            android:name=".activity.media.PlayerService"
            android:enabled="true"
            android:exported="false"
            />

        <activity android:name=".activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.websocket.WebSocketActivity"/>

        <activity android:name=".activity.task.TaskA1Activity"/>

        <activity
            android:name=".activity.task.TaskA2Activity"
            android:launchMode="singleTask"
            />

        <activity
            android:name=".activity.task.TaskA3Activity"
            android:launchMode="standard"
            />

        <activity
            android:name=".activity.task.TaskB1Activity"
            android:launchMode="standard"
            android:taskAffinity="com.tzy.demo2"
            />

        <activity
            android:name=".activity.task.TaskB2Activity"
            android:launchMode="standard"
            />

        <activity
            android:name=".activity.task.TaskB3Activity"
            android:launchMode="standard"
            />

        <activity android:name=".activity.constraint.MotionLayoutActivity"/>

        <activity android:name=".activity.js.TestJsActivity"/>

        <activity android:name=".activity.largeimage.LargeImageActivity"/>

        <activity android:name=".activity.tablayout.TabLayoutActivity"/>

        <activity android:name=".activity.memoryleak.TestLeakActivity"/>

        <activity android:name=".activity.memoryleak.MemoryLeakActivity"/>

        <activity android:name=".activity.recyclerview.TestRefreshActivity"/>

        <activity android:name=".activity.recyclerview.RefreshActivity1"/>

        <activity android:name=".activity.recyclerview.RefreshActivity2"/>

        <activity android:name=".activity.recyclerview.RefreshActivity3"/>

        <activity android:name=".activity.takephoto.TakePhotoActivity"/>

        <activity android:name=".activity.mvvm.DataBindingActivity"/>

        <activity android:name=".activity.downloadprogress.OkhttpDownloadActivity"/>

        <activity
            android:name=".activity.animator.ObjectAnimatorActivity"
            android:label="ObjectAnimator"
            />

        <activity android:name=".activity.web.CommonWebviewActivity"/>

        <activity android:name=".activity.animator.LottieActivity"/>

        <activity android:name=".activity.animator.VectorDrawableActivity"/>

        <activity android:name=".activity.animator.TestAnimationActivity"/>

        <activity android:name=".activity.netrequest.TestRequestActivity"/>

        <activity android:name=".activity.wifi.WiFiPasswordActivity"/>

        <activity android:name=".activity.camera.CameraActivity"/>

        <activity android:name=".activity.camera.Camera2Activity"/>

        <activity android:name=".activity.sms.ReadSmsActivity"/>

        <activity android:name=".activity.recyclerview.MultiRecyclerViewActivity"/>

        <activity android:name=".activity.media.MediaPlayerActivity"/>

        <activity android:name=".activity.material.CoordinatorActivity"/>

        <activity android:name=".activity.stackview.StackViewActivity"/>

        <activity android:name=".activity.scheme.SchemeTestActivity"/>

        <activity android:name=".activity.serialize.SerializeTestActivity"/>

        <receiver
            android:name=".activity.sms.SmsBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".activity.appwidget.DateAppWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.tzy.demo.activity.appwidget.DateAppWidget.START"/>
                <action android:name="com.tzy.demo.activity.appwidget.DateAppWidget.PAUSE"/>
                <action android:name="com.tzy.demo.activity.appwidget.DateAppWidget.RESUME"/>
                <action android:name="com.tzy.demo.activity.appwidget.DateAppWidget.STOP"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/date_app_widget_info"/>
        </receiver>

        <!-- 推必达 -->
        <meta-data
            android:name="UPA_MPA_CHANNELID"
            android:value="94716y26Bre"
            />
        <meta-data
            android:name="UPA_MPA_APPKEY"
            android:value="bM7vuq"
            />
    </application>

</manifest>